@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../Fonts/TTLakes-Regular.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../Fonts/TTLakes-Bold.ttf') format('truetype');
        
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../Fonts/TTLakes-Medium.ttf') format('truetype');
        
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}